.menu > li > a {
  display: inherit;
  padding: inherit;
  line-height: 0; }

body {
  background: #fff;
  color: #424242;
  font-family: Source Sans Pro;
  font-weight: 400; }

p {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 1px;
  color: #424242;
  color: #424242; }

h1, h2, h3, h4, h5, h6, p, span {
  font-family: Source Sans Pro;
  line-height: 110%; }

h1, h2, h3 {
  color: #E55050;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 700; }

h1 {
  font-size: 2em; }
  @media (min-width: 768px) {
    h1 {
      font-size: 2.625em; } }

h2 {
  font-size: 1.55em; }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

.spacer {
  height: 152px; }

.spacer_sm {
  height: 16px;
  display: block; }

.spacer_md {
  height: 64px;
  display: block; }

/* Main body related elements layout */
/* Main body related elements layout */
#logo {
  margin: 24px 16px; }
  #logo img {
    height: auto;
    max-height: 32px; }

.top-bar {
  background: #fff;
  padding: 0.7rem; }
  .top-bar ul {
    background: #fff; }
    .top-bar ul img {
      max-height: 32px; }
    .top-bar ul #profile {
      font-weight: 700;
      /* letter-spacing: 0.15rem; */
      background: #5080E5;
      /* display: inline-block; */
      height: 32px;
      width: 32px;
      line-height: 2.1rem;
      text-align: center;
      padding: 0;
      padding-left: 2px;
      border-radius: 50%;
      color: #fff; }
  .top-bar .menu.medium-horizontal > li {
    padding: 0 16px;
    letter-spacing: 0.12rem;
    display: inline-block;
    letter-spacing: 0.12rem; }
    .top-bar .menu.medium-horizontal > li:first-child {
      border-right: 1px solid #EBEBEB; }
    .top-bar .menu.medium-horizontal > li:nth-child(2) {
      border-right: 1px solid #EBEBEB; }

span[data-variation] {
  margin-left: 16px;
  font-weight: 700; }

[data-variation="decrease"] {
  color: #50E592; }

[data-variation="rise"] {
  color: #E57450; }

/* Main body related elements layout */
#v-brand-model {
  border-bottom: 1px solid #9B9B9B;
  padding-bottom: 32px;
  margin: 0 0 24px 0; }

h1[data-fuel-type] {
  margin: 12px 0 24px;
  padding: 24px 0;
  border-top: 1px solid #9B9B9B;
  border-bottom: 1px solid #9B9B9B;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px; }
  @media (min-width: 768px) {
    h1[data-fuel-type] {
      text-align: left;
      margin: 12px 0 36px;
      padding: 0;
      border: none;
      font-size: 2em; } }

.row .row {
  margin-right: 0.625rem;
  margin-left: 0.625rem; }

#filter-records {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 400px;
  overflow-y: scroll; }

#calc-values {
  padding-left: 0;
  padding-right: 0; }
  #calc-values form {
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.2), 0px 4px 12px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 24px 16px; }
    @media (min-width: 768px) {
      #calc-values form {
        padding: 32px 52px; } }
    #calc-values form .form-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 24px auto; }
      #calc-values form .form-group label {
        font-family: Source Sans Pro;
        width: 100%;
        line-height: 130%;
        font-weight: 700;
        color: #424242; }
      #calc-values form .form-group input, #calc-values form .form-group select, #calc-values form .form-group input[type] {
        width: 100%;
        min-width: 180px;
        max-width: 360px;
        height: 42px;
        background: #EBEBEB;
        background-color: #EBEBEB;
        border: 1px solid #9B9B9B;
        box-sizing: border-box;
        border-radius: 4px;
        margin: 0;
        padding: 0 8px;
        color: #1DC193;
        font-weight: 700; }
  #calc-values #estimated-distance {
    margin: 24px 0;
    display: block;
    padding: 24px 0;
    text-align: center; }
    #calc-values #estimated-distance h1 {
      margin-bottom: 0; }
    @media (min-width: 768px) {
      #calc-values #estimated-distance {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 24px;
        border: none; } }

#mpg-resume h1:nth-child(2) {
  margin-bottom: 0; }
#mpg-resume p {
  margin-bottom: 0;
  font-weight: 700;
  letter-spacing: 0; }
#mpg-resume h3#amount-filled {
  width: 50%; }
#mpg-resume #estimated-distance {
  border-top: 1px solid #9B9B9B;
  border-bottom: 1px solid #9B9B9B; }
  @media (min-width: 768px) {
    #mpg-resume #estimated-distance {
      border: none; } }

#mpg-calculator {
  padding-right: .625rem;
  padding-left: .625rem; }

#btn-grid {
  border-top: 1px solid #9B9B9B;
  padding-top: 24px;
  margin: 0 20px; }
  @media (min-width: 768px) {
    #btn-grid {
      display: flex;
      justify-content: center;
      margin-top: 48px; }
      #btn-grid .button {
        margin: 24px 48px; } }

.footer .menu {
  display: flex;
  justify-content: flex-end; }

.footer {
  width: 100%;
  color: #E55050;
  position: absolute;
  bottom: 0;
  padding: 12px 16px; }
  .footer i {
    color: #E55050;
    display: inline-block;
    font-size: 1.5rem;
    margin: 0 24px; }

#search-bar {
  border-radius: 4px;
  border: 1px solid #9B9B9B;
  border: 1px solid #9B9B9B;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.2), 0px 4px 12px rgba(0, 0, 0, 0.12);
  padding: 0;
  margin-top: 24px;
  margin-bottom: 48px; }

#form-steps-label {
  display: flex;
  justify-content: flex-start; }
  #form-steps-label a:nth-child(2) {
    color: #9b9b9b; }
  #form-steps-label a:last-child {
    color: #9b9b9b; }
  @media (min-width: 768px) {
    #form-steps-label {
      padding: 0;
      border-radius: 0; } }

#txt-search {
  height: 52px;
  background: inherit;
  border: none;
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 1px;
  color: #424242; }
@medium (min-width: 768px) {
  #txt-search {
    border-radius: 4px 0 0 4px;
    font-weight: 700;
    width: 70%; } }
  #txt-search:focus {
    color: #fff;
    background: #E55050;
    font-weight: 700;
    outline: none; }

/* Buttons container */
#continue-btn {
  display: block;
  margin: 62px auto 24px;
  max-width: 326px;
  background: #E55050;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 700;
  border-radius: 4px;
  text-align: center;
  position: relative; }

.v-btn {
  display: inline-block;
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 1px;
  color: #424242;
  font-weight: 700;
  padding: 12px 12px 12px 32px;
  min-width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-left: 1px solid #9B9B9B; }
  .v-btn:nth-child(2) {
    width: auto;
    text-overflow: ellipsis;
    min-width: 50%;
    max-width: 75%; }
  @media (min-width: 768px) {
    .v-btn {
      width: auto;
      min-width: 200px; } }
  .v-btn:nth-child(1) {
    border: none; }

.active {
  color: #424242 !important; }

.focus {
  color: #E55050 !important; }

.show {
  display: block; }

.hide {
  display: none; }

.button {
  display: block;
  color: #fff;
  height: 42px;
  background: #E55050;
  border-radius: 4px;
  font-family: Source Sans Pro;
  font-weight: 700;
  width: 100%;
  max-width: 240px;
  text-align: center;
  margin: 24px auto;
  letter-spacing: 2px; }
  .button.hollow {
    color: #E55050;
    border-color: #E55050; }

.outline {
  background: inherit;
  color: #1DC193;
  border: 1px solid #1DC193; }
  @media (min-width: 768px) {
    .outline {
      margin: 0 auto; } }
  .outline:hover {
    color: #fff;
    background: #1DC193; }

/*Label containers */
.v-label {
  display: inline-block;
  min-width: 140px;
  padding: 0 12px;
  max-width: 220px;
  height: 42px;
  margin: 16px 24px;
  background: #EBEBEB;
  /* Alfa Romeo */
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 1px;
  color: #424242;
  font-weight: 700;
  color: #424242;
  vertical-align: middle;
  text-align: center;
  line-height: 2.5em;
  border-radius: 4px; }
  .v-label:hover {
    box-shadow: 0px 4px 12px rgba(24, 208, 253, 0.32);
    color: #18D0FD; }

#v-model, #v-model-year {
  display: none;
  width: 100%; }
  @media (min-width: 768px) {
    #v-model, #v-model-year {
      height: auto;
      min-height: 400px;
      max-height: 400px;
      border-top: 1px solid #9B9B9B;
      border-radius: 0 0 4px 4px;
      display: inline-block; } }
  #v-model .v-label, #v-model-year .v-label {
    background: none;
    padding: inherit;
    text-align: left;
    margin: 16px 32px; }
    #v-model .v-label:hover, #v-model-year .v-label:hover {
      box-shadow: none; }

.v-label {
  display: inline-block;
  min-width: 140px;
  padding: 0 12px;
  max-width: 220px;
  height: 42px;
  margin: 16px 24px;
  background: #EBEBEB;
  /* Alfa Romeo */
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 1px;
  color: #424242;
  font-weight: 700;
  color: #424242;
  vertical-align: middle;
  text-align: center;
  line-height: 2.5em;
  border-radius: 4px; }
  .v-label:hover {
    box-shadow: 0px 4px 12px rgba(24, 208, 253, 0.32);
    color: #18D0FD; }

#v-model, #v-model-year {
  display: none;
  width: 100%; }
  @media (min-width: 768px) {
    #v-model, #v-model-year {
      height: auto;
      min-height: 400px;
      max-height: 400px;
      border-top: 1px solid #9B9B9B;
      border-radius: 0 0 4px 4px;
      display: inline-block; } }
  #v-model .v-label, #v-model-year .v-label {
    background: none;
    padding: inherit;
    text-align: left;
    margin: 16px 32px; }
    #v-model .v-label:hover, #v-model-year .v-label:hover {
      box-shadow: none; }

#mobile-vehicle {
  margin: 48px 24px; }
  #mobile-vehicle select {
    border: 1px solid #9B9B9B;
    border-radius: 4px;
    font-family: Source Sans Pro;
    line-height: 110%;
    height: 42px;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.2), 0px 4px 12px rgba(0, 0, 0, 0.12); }
  @media (min-width: 768px) {
    #mobile-vehicle {
      display: none; } }

#v-resume {
  padding-right: 0;
  padding-left: 0; }
  #v-resume h1 {
    padding-bottom: 32px;
    border-bottom: 1px solid #9B9B9B;
    margin-bottom: 24px; }
  #v-resume p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700; }
  #v-resume span {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 2.286em;
    line-height: 1.604; }

#car-model {
  /* Rectangle 6 */
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px; }
  @media (min-width: 768px) {
    #car-model {
      box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.2), 0px 4px 12px rgba(0, 0, 0, 0.12);
      border: 1px solid #9B9B9B; } }
  #car-model #form-steps-label {
    padding: 0;
    border: 1px solid #9B9B9B;
    margin-bottom: 48px; }
    @media (min-width: 768px) {
      #car-model #form-steps-label {
        width: 100%;
        border: none;
        margin-bottom: 0; } }

#budget-fuel {
  display: flex;
  justify-content: space-between; }
  #budget-fuel span {
    width: 50%; }
    #budget-fuel span h1 {
      letter-spacing: 0; }
    #budget-fuel span h2 {
      margin-bottom: 0; }
    #budget-fuel span:nth-child(1) {
      border-right: 1px solid #9B9B9B;
      text-align: left; }
    #budget-fuel span:nth-child(2) {
      text-align: right; }

/*# sourceMappingURL=style.css.map */
