.left{
  float:left;
}

.right{
  float:right;
}

.clear{
  clear:both;
}
.spacer{
	height: 224px;
}

.spacer_sm{
 	height: 16px;
 	display: block;	
}

.spacer_md{
 	height: 64px;
 	display: block;	
}