@import "defaults.scss";
@import "variables.scss";
@import "mixins.scss";


body{
  background: $white;
  color: $text-color;
  @include font_family;
  font-weight: 400;
}

p{
  @include body_text;
  color:$text-color;
}

h1,h2,h3,h4,h5,h6,p,span{
  @include font_family;
  line-height:110%;

}


h1,h2, h3{
  color:$red;
  @include bold_font;
}

h1{
  font-size:2em;
  @media #{$medium}{
    font-size:2.625em;
  }
}

h2{
  font-size:1.55em;
}



@import "alignment.scss";
