$grey-primary:#9B9B9B;
$grey-hint:#EBEBEB;
$text-color:#424242;
$white:#fff;
$red:#E55050;
$green:#1DC193;
$blue:#18D0FD;
$hard_blue:#5080E5;
$light_green:#50E592;
$warm_red:#E57450;

//Media Queries

$medium: "(min-width: 768px)";
