#search-bar{
  @include border;
  @include border_grey;
  border: 1px solid #9B9B9B;
  
    display: flex;
    justify-content: flex-start;
  box-sizing: border-box;

  @include shadow;
padding: 0;
margin-top: 24px;
margin-bottom: 48px;
}


#form-steps-label{
  //display:none;
  //border:1px solid $grey-primary;
  //border-radius:4px 4px 0 0;
  //@medium #{$medium}{
    display: flex;
    justify-content: flex-start;
 // }
  & a:nth-child(2){
    color:#9b9b9b;
  }
  & a:last-child{
    color:#9b9b9b;
  }
  
  @media #{$medium}{
    padding:0;
    border-radius:0;    
  }
  
}
#txt-search{
height: 52px;
background: inherit;
border:none; 
 @medium #{$medium}{
   // border: 1px solid $grey-primary;
    
    border-radius: 4px 0 0 4px;
    font-weight: 700; 
    width:70%;
}
@include body_text;

  
  &:focus{
  color:$white;
  background:$red;
  font-weight:700;
   outline:none;
  }
}
